* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 60px;
    color: #fffbf9;
    background-color: #ff6900;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header .contenitore {
    justify-content: space-between;
    padding: 12.5px;
    align-items: center;
}

header .contenitore>* {
    width: 180px;
}

.icons {
    text-align: right;
}

ul {
    list-style: none;
    font-size: 14px;
}

li {
    display: inline;
}

header ul {
    font-weight: bold;
}

.contenitore {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: calc(100% / 3);
    padding: 12.5px;
}

.card {
    position: relative;
    height: 445.148px;
}

.card>* {
    position: absolute;
}

img {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
}

.immagine-a:hover {
    opacity: 0;
}

.heart {
    top: 0;
    right: 0;
    background-color: white;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 10px;
}

.heart:hover {
    color: #ff0000;
}

.low {
    bottom: 0;
    left: 0;
    margin-bottom: 43px;
}

.low * {
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

.discount {
    background-color: #ff0000;
}

.green {
    background-color: #008000;
}

.descrizione {
    width: 100%;
}

.marca {
    font-size: 14px;
}

.nome {
    font-weight: bold;
}

.prezzo {
    font-size: 12px;
}

.rosso {
    color: #ff0000;
    font-weight: bold;
}

.tagliato {
    text-decoration: line-through;
}

footer {
    margin-top: 60px;
}